headscale.mydomain {
  reverse_proxy headscale:8080
}

nextcloud.mydomain {
  redir /.well-known/carddav /remote.php/dav permanent
  redir /.well-known/caldav /remote.php/dav permanent
  header Strict-Transport-Security "max-age=15552000; includeSubDomains;"
  reverse_proxy frp:8080
}

ntfy.mydomain {
  reverse_proxy frp:8080
}

immich.mydomain {
  reverse_proxy frp:8080
}

homeassistent.mydomain {
  reverse_proxy frp:8080
}