lldap_config/*
!lldap_config/.gitkeep

authelia/config/*
!authelia/config/configuration.yml
!authelia/config/logs/.gitkeep
authelia/secrets/*
!authelia/secrets/.gitkeep

gatus/config/*
!gatus/config/example.config.yml
