# LOCAL PROXIES

auth.{$DOMAIN} {
	reverse_proxy authelia:9091
}

ldap.{$DOMAIN} {
	forward_auth authelia:9091 {
		uri /api/authz/forward-auth
	}
	reverse_proxy lldap:17170
}

# gatus.{$DOMAIN} {
# 	forward_auth authelia:9091 {
# 		uri /api/authz/forward-auth
# 	}
# 	reverse_proxy gatus:8080
# }

# docs.{$DOMAIN} {
#   forward_auth authelia:9091 {
#     uri /api/authz/forward-auth
#     copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
#   }
#   reverse_proxy mkdocs:8000
# }

# ntfy.{$DOMAIN} {
# 	reverse_proxy ntfy:80
# }

frp.{$DOMAIN} {
	forward_auth authelia:9091 {
		uri /api/authz/forward-auth
	}
	reverse_proxy frps:7500
}

heimdall.{$DOMAIN} {
	forward_auth authelia:9091 {
		uri /api/authz/forward-auth
	}
	reverse_proxy heimdall:80
}

dav.{$DOMAIN} {
	forward_auth authelia:9091 {
		uri /api/authz/forward-auth
		copy_headers Remote-User>X-Forwarded-User
	}
	header X-Script-Name "/"
	reverse_proxy radicale:5232
}

joplin.{$DOMAIN} {
	reverse_proxy joplin:22300
}

# END LOCAL PROXIES


# REMOTE PROXIES

# s3.{$DOMAIN} {
#   reverse_proxy frps:6789
# }

immich.{$DOMAIN} {
	reverse_proxy frps:6789
}

owncloud.{$DOMAIN} {
	header Strict-Transport-Security "max-age=15552000"
	reverse_proxy frps:6789
}

# vaultwarden.{$DOMAIN} {
# 	reverse_proxy frps:6789
# }

# END REMOTE PROXIES
