# LOCAL PROXIES

auth.local.local {
	reverse_proxy authelia:9091
}

ldap.local.local {
	forward_auth authelia:9091 {
		uri /api/authz/forward-auth
	}
	reverse_proxy lldap:17170
}

gatus.local.local {
	forward_auth authelia:9091 {
		uri /api/authz/forward-auth
	}
	reverse_proxy gatus:8080
}

# docs.local.local {
#   forward_auth authelia:9091 {
#     uri /api/authz/forward-auth
#     copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
#   }
#   reverse_proxy mkdocs:8000
# }

ntfy.local.local {
	reverse_proxy ntfy:80
}

frp.local.local {
	forward_auth authelia:9091 {
		uri /api/authz/forward-auth
	}
	reverse_proxy frps:7500
}

heimdall.local.local {
	forward_auth authelia:9091 {
		uri /api/authz/forward-auth
	}
	reverse_proxy heimdall:80
}

dav.local.local {
	forward_auth authelia:9091 {
		uri /api/authz/forward_auth
		copy_headers Remote-User>X-Forwarded-User
	}
	header X-Script-Name "/"
	reverse_proxy radicale:5232
}

# END LOCAL PROXIES


# REMOTE PROXIES

# s3.local.local {
#   reverse_proxy frps:6789
# }

immich.local.local {
	reverse_proxy frps:6789
}

owncloud.local.local {
	header Strict-Transport-Security "max-age=15552000"
	reverse_proxy frps:6789
}

# vaultwarden.local.local {
# 	reverse_proxy frps:6789
# }

# END REMOTE PROXIES
