// LOCAL PROXIES

// Edit domain
auth.local.local {
  reverse_proxy authelia:9091 
}

// Edit domain
ldap.local.local {
  reverse_proxy lldap:17170 
}

// Edit domain 
gatus.local.local {
  forward_auth authelia:9091 {
    uri /api/authz/forward-auth
    copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
  }
  reverse_proxy gatus:8080
}

// Edit domain 
docs.local.local {
  forward_auth authelia:9091 {
    uri /api/authz/forward-auth
    copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
  }
  reverse_proxy mkdocs:8000
}

// Edit domain 
ntfy.local.local {
  reverse_proxy ntfy:80
}

// Edit domain
frp.local.local {
  forward_auth authelia:9091 {
    uri /api/authz/forward-auth
    copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
  }
  reverse_proxy frps:7500
}

// Edit domain
heimdall.local.local {
  forward_auth authelia:9091 {
    uri /api/authz/forward-auth
    copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
  }
  reverse_proxy heimdall:7500
}

// END LOCAL PROXIES


// REMOTE PROXIES

// Edit domain 
s3.local.local {
  reverse_proxy frps:8080
}

// Edit domain 
nextcloud.local.local {
  reverse_proxy frps:8080
}

// Edit domain 
immich.local.local {
  reverse_proxy frps:8080
}

// Edit domain 
vaultwarden.local.local {
  reverse_proxy frps:8080
}

// END REMOTE PROXIES
